/* Basic resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Titillium Web', sans-serif;
  background-color: #171717;
  color: #FFFFFF;
}

/* Header styles */
.header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #171717;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
}

.icon-button {
  font-size: 35px;
  color: #FFFFFF;
  background: none;
  border: none;
  cursor: pointer;
}
.search-icon{
  margin-left:auto;
}

.search-input {
  position:absolute;
  font-size: 14px;
  padding: 5px;
  margin-left: 10px;
  background-color: #333;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
}

/* Content flexbox styles */
.content-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 10px;
}

/* Content item styles */
.content-item {
  flex: 1 1 calc(33.33% - 8px); /* Default to 3 columns */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.content-image {
  width: 360px;
  height: auto;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: 5px;
}
.highlight-text{
  background-color:yellow;
  color: #171717;
}

.content-title {
  margin-top: 4px;
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
}

/* Responsive adjustments */
@media (min-width: 480px) {
  .content-title {
    font-size: 12px;
  }
  .content-item {
    flex: 1 1 calc(33.33% - 8px); 
  }
  .content-image{
    width:100px;
  }
}
@media (max-width: 480px) {
  .content-title {
    font-size: 12px;
  }
  .content-item {
    flex: 1 1 calc(33.33% - 8px); 
  }
  .content-image{
    width:100px;
  }
}

@media (min-width: 768px) {
  .content-item {
    flex: 1 1 calc(33.33% - 8px); /* 3 columns for larger screens */
  }
}
